<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/loggedNav') %>
    <div class="container-fluid">
        <div class="mt-5 container">
            <div class="card">
                <div class="card-header">
                    Student Card
                </div>
                <div class="card-body">
                    <h4>Fullname:</h4>
                    <input class="form-control" type="text" value="<%= `${student.first_name} ${student.last_name}` %>" readonly>
                    <h4 class="mt-3">Gender:</h4>
                    <input class="form-control" type="text" value="<%= capitalizeFirstLetter(student.gender) %>" readonly>
                    <h4 class="mt-3">Major:</h4>
                    <input class="form-control" type="text" value="<%= student.major %>" readonly>
                </div>
            </div>
        </div>
    </div>
</body>
</html>